/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    .volkhov-regular {
        font-family: "Volkhov", serif;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        box-sizing: border-box;
      }   
}

/* variables */
:root {
    --main-color: ;
    --second-color: ;
    --text-color: ;
    --second-text-color: ;
    --bg-color: ;
}